<!-- Schedule view : This controller view is the main controller which includes the data from the backend for all the machines for example - Name, machine name, location, start date & end date. 

This view contains create, edit and delete functionality -->

<a class="btn btn-primary" href="/#/create/schedule"><span class="glyphicon glyphicon-plus"></span> Create Schedule</a>
<br>
<table class="table table-striped">
  <thead>
    <th>Employee Name</th>
    <th>Machine</th>
    <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr ng-repeat="schedule in schedules">
      <td><a ng-href="/#/schedule/{{ schedule._id }}">{{ schedule.name }}</a></td>
      <td>{{ schedule.machine }}</td>
      <td>{{ schedule.location }}</td>
      <td>{{ schedule.startDate}}</td>
        <td>{{ schedule.endDate}}</td>
      <td>
        <div class="button-group">
          <a ng-href="/#/schedule/{{ schedule._id }}/edit" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a ng-href="/#/schedule/{{ schedule._id }}/delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>  
      </td>  
    </tr>
  </tbody>
</table>