<!-- Schedule-view : This controller view includes the data from each machine selected -->

<ng-include src="'views/schedule-nav.html'"></ng-include>
<h2><span class="ion-person icon-big"></span>{{ schedule.name }}</h2>
<i class="ion-happy-outline icon-small"></i>{{ schedule.machine }}
<i class="ion-ios-location-outline icon-small"></i>{{ schedule.location }}
<i class="ion-ios-information-outline icon-small"></i>{{ schedule.purpose }}
<i class="ion-ios-calendar-outline icon-small"></i>{{ schedule.startDate }}
<i class="ion-ios-calendar-outline icon-small"></i>{{ schedule.endDate }}
