<h4><span style="color:red">All fields are required!</span></h4>
<form role="form" name="loginForm" novalidate>
  <div class="form-group">
    <label for="name" class="control-label">Name</label>
    <input type="text" name="name" ng-model="schedule.name" required>
  <span ng-show="loginForm.name.$dirty && loginForm.name.$invalid && loginForm.name.$error.required">
      Name Required!
      </span>
    </div>
  <div class="form-group">
    <label for="machine" class="control-label">Machine</label>
    <select name="machine" id="machine" ng-model="schedule.machine">
      <option value="k1">K1</option>
      <option value="k3">K3</option>
      <option value="k5" selected>K5</option>
      <option value="k7">K7</option>
      <option value="k9">K9</option>
    </select>
  </div>
  <div class="form-group">
    <label for="location" class="control-label">Location</label>
    <select name="location" id="location" ng-model="schedule.location">
      <option value="Mountain View" selected>Mountain View</option>
      <option value="Palo Alto">Palo Alto</option>
      <option value="Sunnyvale">Sunnyvale</option>
      <option value="Cupertino">Cupertino</option>
      <option value="San Jose">San Jose</option>
    </select>
  </div>
  <div class="form-group">
    <label for="purpose" class="control-label">Purpose</label>
    <select name="purpose" id="purpose" ng-model="schedule.purpose">
      <option value="Patrolling" selected>Patrolling</option>
      <option value="On-site Maintenance">On-site Maintenance</option>
      <option value="Off-site Maintenance">Off-site Maintenance</option>
      <option value="Demonstration">Demonstration</option>
      <option value="Transportation">Transportation</option>
    </select>
  </div>
<div class="form-group">
    <label for="startDate">Start Date:</label>
   <input type="text" ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" id="startDate" name="startDate" ng-model="schedule.startDate"
       placeholder="MM-dd-yyyy" required />
<span ng-show="loginForm.startDate.$error.required">Start Date Required!</span>
    <span ng-show="loginForm.startDate.$error.pattern">Incorrect Format, should be MM/DD/YYYY</span>
</div>

<div class="form-group">
    <label for="endDate">End Date:</label>
   <input type="text" ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" id="endDate" name="endDate" ng-model="schedule.endDate" placeholder="MM-dd-yyyy" required />
   <span ng-show="loginForm.endDate.$error.required">End Date Required!</span>
    <span ng-show="loginForm.endDate.$error.pattern">Incorrect Format, should be MM/DD/YYYY</span>
    <span>{{ errorMessage }}</span>
</div>
  <input type="text" class="btn btn-primary" ng-click="saveSchedule()" value="Save" ng-disabled="loginForm.$invalid ">
</form>

