<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
    
    <input ng-model="query" type="text" placeholder="Filter by" autofocus>
    
    <ul class="timeline" ng-repeat="schedule in schedules | filter:query | orderBy: 'name'" >
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ schedule.name }}</h4> 
                    <p>{{ schedule. machine }}</p>
                </div>
            </div>
        </li>
    
    </ul>
  
</div>